.titles {
  margin-left: 50px;
  margin-right: 50px;
}

.typing {
  font-size: 52px;
  white-space: nowrap;
  overflow: hidden;
  /* animation: typing 2s steps(40) infinite, blink-caret 0.75s step-end infinite; */
  animation: typing 2s steps(10);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.simple-form {
  margin: 50px;
  justify-items: unset;
}

.home-title {
  justify-self: center;
}

.home-txt {
  font-size: large;
  text-align: justify;
  display: grid;
  margin-bottom: 5vh;
}

.home-p {
  text-align: center;
  text-align: justify;
}

.serv-cards {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.serv-cards div:nth-child(3) {
  grid-column: 1 / span 2;
}

.serv-card {
  border: solid 1px transparent;
  background-image:
    linear-gradient(#601875, #102172),
    linear-gradient(90deg, #650577, #b3d9d7, #87e0f7);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 15px;
}

.serv-card-img {
  justify-self: center;
  margin-top: auto;
  margin-bottom: 0;
  width: 31rem;
  height: 15rem;
  border-radius: 20px;
}

.serv-title,
.card-info {
  margin-left: 1rem;
  margin-right: 1rem;
}

.serv-btn {
  width: 12rem;
  height: 2rem;
  border-radius: 40px;
  border-style: solid;
  border-color: #fff;
  text-align: center;
  font-size: large;
  background-image: linear-gradient(90deg, #601875, #102172);
}

@media only screen and (max-width: 600px) {
  .typing {
    animation:
      typing 2s steps(12) infinite,
      blink-caret 0.75s step-end infinite;
  }

  .serv-cards {
    display: grid;
    grid-template-columns: auto;
  }

  .serv-cards div:nth-child(3) {
    grid-column: unset;
  }
}
