.wrapper {
  position: relative;
}

.page-header {
  display: flex;
  min-height: 20vh;
  justify-content: flex-end;
  background-color: darkslateblue;
}

.team-name {
  margin-right: 10rem;
}

.team-img-container {
  display: flex;
  justify-content: left;
}

.info-container {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.info-container div {
  min-width: 15cm;
  max-width: 15cm;
}

.team-member-info {
  display: grid;
  font-size: large;
  text-align: justify;
  margin-right: 6rem;
  margin-top: 3rem;
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.page-header {
  animation: slideRight 1s ease-out forwards;
}

.info-containe {
  animation: fadeIn 2s ease-out forwards;
}

@media only screen and (max-width: 600px) {
  .team-titles {
    margin-top: 0%;
    margin-bottom: 6vh;
  }

  .team-titles,
  .team-titles {
    margin-right: unset;
  }

  .info-container {
    display: unset;
    justify-content: center;
  }

  .info-container div {
    min-width: unset;
  }

  .team-member-info {
    min-width: unset;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
